<div loadable-indicator class="loader"></div>

<div loadable class="panel panel-primary">
    <div class="panel-heading"><h4><strong>General Configuration</strong></h4></div>

    <form class="form-horizontal" style="padding-top: 25px">
        <div class="form-group">
            <label for="generalName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="generalName" placeholder="Name" ng-model="name">
            </div>
        </div>
    </form>

</div>