<div loadable-indicator class="loader"></div>

<div loadable class="panel panel-primary">

    <div class="panel-heading">
        <h4>
            <strong>{{title}}</strong>

            <div class="dropdown pull-right" style="display: inline" ng-show="isOwner">
                <style>
                    a.settings, a.settings:visited {
                        color: #fff;
                    }

                    a.settings:hover, a.settings:active {
                        color: #eee;
                    }

                    .dropdown-menu > li > a:hover {
                        background-color: #eee;
                    }
                </style>

                <a class="dropdown-toggle settings" style="padding: 0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a href data-toggle="modal" data-target="#rename-thread">Rename</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href class="text-danger" data-toggle="modal" data-target="#confirm-delete-thread">
                            <strong class="text-danger">Delete</strong>
                        </a>
                    </li>
                </ul>
            </div>


        </h4>
    </div>

    <ul class="list-group">
        <li class="list-group-item row list-row" ng-repeat="post in posts">

            <div class="col-md-3 gray">
                {{post.date | date:'medium'}}

                <div class="dropdown pull-right h4" style="display: inline; padding: 0; margin: 0" ng-show="post.author._id == me">

                    <a class="dropdown-toggle" style="padding: 0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href data-toggle="modal" data-id="{{post._id}}" data-target="#edit-post">Edit</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href class="text-danger" data-toggle="modal" data-id="{{post._id}}" data-target="#confirm-delete-post">
                                <strong class="text-danger">Delete</strong>
                            </a>
                        </li>
                    </ul>
                </div>

                <h4 class="list-group-item-heading">
                    <a ng-show="post.author._id" ui-sref="user({id: post.author._id})" >{{post.author.name.first}} {{post.author.name.last}}</a>
                    <a ng-hide="post.author._id" class="disabled">Unknown User</a>
                </h4>
            </div>

            <div class="col-md-9">
                <p class="list-group-item-text">{{post.post}}</p>
            </div>

        </li>

    </ul>

    <div class="panel-footer clearfix" ng-show="authenticated" >
        <ui-view autoscroll="true">
            <button class="btn btn-default pull-right" ui-sref="thread.reply">Reply</button>
        </ui-view>
    </div>

</div>


<!--Dialogs-->

<div class="modal fade" id="confirm-delete-thread" tabindex="-1" role="dialog" aria-labelledby="delete-thread-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="delete-thread-label">Confirm Delete</h4>
            </div>

            <div class="modal-body">
                <p>Do you <i>really</i> want to delete this thread?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteThread()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete-post" tabindex="-1" role="dialog" aria-labelledby="delete-post-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="delete-post-label">Confirm Delete</h4>
            </div>

            <div class="modal-body">
                <p>Do you <i>really</i> want to delete this post?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deletePost()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rename-thread" tabindex="-1" role="dialog" aria-labelledby="rename-thread-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="rename-thread-label">Rename Thread</h4>
            </div>

            <div class="modal-body">
                <input id="renameThreadTitle" autofocus type="text" class="form-control" ng-model="renameThreadTitle" placeholder="Thread title" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="renameThread()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-post" tabindex="-1" role="dialog" aria-labelledby="edit-post-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="edit-post-label">Edit Post</h4>
            </div>

            <div class="modal-body">
                <textarea autofocus id="editedPost" style="resize: vertical" autofocus class="form-control" ng-model="editedPost" placeholder="Content of post"></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editPost()">Save</button>
            </div>
        </div>
    </div>
</div>